.navbar{
        list-style: none;
        background: rgb(19,14,27);
        background: linear-gradient(90deg, rgba(19,14,27,1) 0%, rgba(76,55,106,1) 31%, rgba(108,40,205,1) 67%, rgba(124,0,255,1) 100%);
        overflow:hidden;
        padding:0;
    }
    .navbar a, .dropdown div{
        text-decoration:none;
        color:white;
        font-size:24px;
        padding:16px;
        display:inline-block;
    }
    .navbar li{
        float:left;
    }
    .navbar li:hover{
        background-color:lightblue;
    }
    .dropdown-content{
        list-style:none;
        padding: 0;
        display:none;
        position:absolute;
        z-index:1;
        background: rgb(124,0,255);
background: linear-gradient(90deg, rgba(124,0,255,1) 0%, rgba(108,40,205,1) 26%, rgba(76,55,106,1) 65%, rgba(0,0,0,1) 100%);
    }
    .dropdown-content li{
        float:none;
    }
    .dropdown:hover .dropdown-content{
        display:block;
    }
    .active{
        background-color:gray;
    }
    body{
       background:"Snapchat-241959788.jpg"
    }
  td{
      color:lightblue;
  }