.navbar{
        list-style: none;
        background: rgb(237,0,255);
        background: linear-gradient(90deg, rgba(237,0,255,1) 0%, rgba(0,230,255,1) 100%);
        overflow:hidden;
        padding:0;
    }
    .navbar a, .dropdown div{
        text-decoration:none;
        color:white;
        font-size:24px;
        padding:16px;
        display:inline-block;
    }
    .navbar li{
        float:left;
    }
    .navbar li:hover{
        background-color:lightblue;
    }
    .dropdown-content{
        list-style:none;
        padding: 0;
        display:none;
        position:absolute;
        z-index:1;
        background: rgb(237,0,255);
        background: linear-gradient(90deg, rgba(237,0,255,1) 0%, rgba(0,230,255,1) 100%);
    }
    .dropdown-content li{
        float:none;
    }
    .dropdown:hover .dropdown-content{
        display:block;
    }
    .active{
        background-color:lightblue;
    }
    body{
   background: rgb(184,180,226);
background: linear-gradient(90deg, rgba(184,180,226,1) 0%, rgba(153,210,222,1) 100%);
    }
  td {
  height: 50px;
  vertical-align: bottom;
  color:black;
}
table, td, th {
  border: 1px solid black;

table {
  border-collapse: collapse;
  width:active;
}